body {
  direction: rtl;
  text-align: right;
}

.page-header {
  text-align: center;
}

.main-content h1,
.main-content h2,
.main-content h3,
.main-content h4,
.main-content h5,
.main-content h6 {
  text-align: right;
}

.main-content li {
  text-align: right;
}
